<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout1}"
>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style></style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript"></script>
</th:block>

<div layout:fragment="content">
  <div th:object="${articleDto}" class="container mt-3">
    <a
            th:href="@{/article/{id}/edit(id = ${articleDto.id})}"
            class="btn btn-primary"
    >수정</a
    >
    <a
            th:href="@{/article/{id}/delete(id = ${articleDto.id})}"
            class="btn btn-danger"
    >삭제</a
    >
    <input type="hidden" th:field="*{id}" id="edit-articleDto-id" />
    <div class="container mt-3">
      <div>
        <h2 name="title" id="title" th:text="*{title}"></h2>
        작성자 :
        <span name="writer" id="memberName" th:text="*{member.name}"></span> /
        작성 시간:
        <span
                name="createdByTime"
                id="createdByTime"
                th:text="*{regTime}"
                class="fs-sm"
        ></span>
      </div>
      <hr />
      <div id="content" name="content" th:utext="*{content}"></div>
    </div>
    <hr />
    <!--    <a th:href="@{/board/{id}/boardEdit(id = ${boardDto.id})}" class="btn btn-primary">수정</a>-->

    <form
            sec:authorize="isAuthenticated()"
            name="commentForm"
            th:object="${newCommentDto}"
            role="form"
            th:action="@{/article/{article_id}/comment(article_id = ${articleDto.id})}"
    >
      <label for="comment">Comment : </label>
      <input
              type="text"
              th:field="*{comment}"
              name="comment"
              ,
              id="comment"
      />

      <button type="submit">댓글 달기</button>
    </form>

    <hr />
    <div></div>
  </div>
  <!-- //boardDto -->
  <div th:each="commentDto : ${commentDtoList}" class="container">
    <input type="hidden" th:value="*{commentDto.id}" id="edit-comment-id" />
    <span th:text="*{commentDto.member.name}"></span> :
    <span
            id="commentContent-{commentDto.id}"
            th:utext="*{commentDto.comment}"
    ></span>
    <span th:text="*{commentDto.createdByTime}"></span>
    <button id="editBtn-{commentDto.id}" class="btn btn-warning">
      수정하기
    </button>
    <!--    <script>-->
    <!--        function btnClick(e){-->
    <!--            const comment_id = [[*{commentDto.id}]];-->

    <!--            console.log(comment_id);-->
    <!--            let target = e.target;-->
    <!--            console.log("target.value ="+target.value());-->
    <!--        }-->
    <!--    </script>-->
    <form id="commentEditForm-{commentDto.id}" style="display: none">
      <input
              type="text"
              id="editedComment-{commentDto.id}"
              name="editedComment"
              th:value="*{commentDto.comment}"
      />

      <button type="submit">수정완료</button>
      <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
    </form>


    <!--                    data-bs-comment-id="*{commentDto.id}"-->
    <a
            th:href="@{/article/{article_id}/commentDelete/{comment_id}(article_id = ${articleDto.id}, comment_id=${commentDto.id})}"
            class="btn btn-danger"
    >삭제</a
    >
    <hr />
  </div>

  <script>
    var userEmail = `[[${userEmail}]]`;
    console.log(userEmail);


    var editBtnElement = document.getElementById("editBtn-{commentDto.id}");
    editBtnElement.addEventListener("click", (e) => {
      const commentContentElement = document.getElementById(
        "commentContent-{commentDto.id}"
      );
      const commentEditFormElement = document.getElementById(
        "commentEditForm-{commentDto.id}"
      );

      // Hide the comment content and show the edit form
      commentContentElement.style.display = "none";
      commentEditFormElement.style.display = "block";
    });
    var commentEditFormElement = document.getElementById(
      "commentEditForm-{commentDto.id}"
    );
    commentEditFormElement.addEventListener("submit", (e) => {
      e.preventDefault(); // Prevent form submission to the default action

      const editedComment = document.getElementById(
        "editedComment-{commentDto.id}"
      ).value;
      /*<![CDATA[*/
      const commentDto = /*[[${commentDto}]]*/ null; // commentDto를 스크립트에서 사용할 수 있도록 정의
      const articleDto = /*[[${articleDto}]]*/ null;

      /*]]>*/
      const commentId = document.querySelector("#edit-comment-id").value;

      const articleId = document.querySelector("#edit-articleDto-id").value;

      console.log(commentId, articleId);
      // Send an AJAX request to update the comment with the edited content
      fetch(`/article/${articleId}/commentUpdate/${commentId}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          article_id: articleId, // 수정된 부분
          comment_id: commentId,
          editedComment: editedComment,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            // Update the comment content with the edited content
            commentContentElement.textContent = editedComment;

            // Hide the edit form and show the comment content
            commentEditFormElement.style.display = "none";
            commentContentElement.style.display = "block";
          } else {
            console.error("Failed to update comment:", data.error);
          }
        });
    });
  </script>


  <a href="/article/list">게시글 목록</a>
</div>
</html>
