<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="page-footer font-small cyan darken-3 mt-auto">
        <div class="container d-flex text-nowrap" style="border:1px solid black">
            <div class="container">
                <h2>고객센터</h2>
                <span>오전 9시 ~ 새벽 3시 운영</span><br>
                <button>1670-6250</button>
                <button>카카오 문의</button>
            </div>
            <div class="container d-flex" style="border:1px solid black">
                <div class="container">
                    <p>회사</p>
                    <div>
                        <a href="#">회사소개</a>
                    </div>
                </div>
                <div class="container">
                    <p>서비스</p>
                    <div>
                        <a href="#">공지사항</a>
                        <a href="#">자주 묻는 질문</a>
                        <a href="#">기업 출장/복지 서비스 문의</a>
                    </div>
                </div>
                <div class="container">
                    <p>혜택</p>
                    <div class="">
                        <a href="#">혜택안내</a>
                        <a href="#">혜택안내</a>
                        <a href="#">혜택안내</a>
                        <a href="#">혜택안내</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            2020 Shopping Mall Example WebSite
        </div>
    </footer>
</div>
</html>