<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="page-footer font-small cyan darken-3">
        <div>
            <h2>고객센터</h2>
            <span>오전 9시 ~ 새벽 3시 운영</span><br>
            <button><span>1670-6250</span></button>
            <button><span>카카오 문의</span></button>
        </div>
        <div class="footer-copyright text-center py-3">
            2020 Shopping Mall Example WebSite
        </div>
    </footer>
</div>
</html>