<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-bottom:30px;
        }
        .banner{
            height: 300px;
        }
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }
        .banner{
            position: absolute; top:0; left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</th:block>


<div layout:fragment="content">

    <!--    <input type="hidden" name="searchQuery" th:value="${lodgingDto.searchQuery}">-->
    <!--    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">-->
    <!--        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>-->
    <!--    </div>-->


    <div class="container">
        <h5 class="fw-semibold mt-5">추천 숙소</h5>
        <th:block>
            <div class="d-flex">
                <div class="col-3 mt-3 p-2" th:each="lodging : ${lodgingDtoList}"
                     th:if="${lodging.roomExist == T(com.example.member.constant.RoomExist).Y}">
                    <div class="card border mt-3 rounded-4 shadow">
                        <div class="locationDiv" style="cursor:pointer">
                            <input type="hidden" th:value="${lodging.id}" class="lodging_id">
                            <div class="ratio ratio-4x3">
                                <img th:src="${lodging.imgUrl}" class="card-img-top rounded-4"
                                     th:alt="${lodging.name}">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">[[${lodging.name}]]</h4>
                                <p class="card-text">[[${lodging.detail}]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>

                $(".locationDiv").click(function(){
                    var sessionDate = sessionStorage.getItem("date");
                    let index = $(".locationDiv").index(this);
                    var lodging_id = $(".lodging_id").eq(index).val();
                    if(sessionDate != null){
                    var DateList = sessionDate.split('~');
                    var checkIn = DateList[0];
                    var checkOut = DateList[1];
                    // session 에 일자가 등록 되어 있을 때
                    location.href = `/reserv/lodgingReservContent/${lodging_id}/checkIn=${checkIn}/checkOut=${checkOut}`;
                    }else{
                        // 등록한 일자가 없을 시
                    location.href = `/reserv/lodgingReservContent/${lodging_id}`;
                    }
                });


            </script>

        </th:block>
    </div>

    <!--    페이지네이션과 검색어입력 관련 부분-->
    <!--    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >-->
    <!--        <ul class="pagination justify-content-center">-->

    <!--            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">-->
    <!--                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" aria-label='Previous' class="page-link">-->
    <!--                    <span aria-hidden='true'>Previous</span>-->
    <!--                </a>-->
    <!--            </li>-->

    <!--            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">-->
    <!--                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>-->
    <!--            </li>-->

    <!--            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">-->
    <!--                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">-->
    <!--                    <span aria-hidden='true'>Next</span>-->
    <!--                </a>-->
    <!--            </li>-->

    <!--        </ul>-->
    <!--    </div>-->
</div>
</html>