<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function cancelReserv(reservId){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/reserv/" + reservId + "/cancel";
            var paramData = {
                reservID : reservId,
            };
            var param = JSON.stringify(paramData);

            if(confirm("예약을 취소하시겠습니까?")){
                $.ajax({
                        url      : url,
                        type     : "POST",
                        contentType : "application/json",
                        data     : param,
                        beforeSend : function(xhr){
                            /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                            xhr.setRequestHeader(header, token);
                        },
                        dataType : "json",
                        cache   : false,
                        success  : function(result, status){
                            alert("주문이 취소 되었습니다.");
                            location.href='/reserv/reservs';         //[[${page}]];
                            // 서버에서 전달받은 page라는 변수를 클라이언트 측으로 전달하여
                            // 현재 페이지 번호를 사용
                        },
                        error : function(jqXHR, status, error){

                            if(jqXHR.status == '401'){
                                alert('로그인 후 이용해주세요');
                                location.href='/members/login';
                            } else{
                                alert(jqXHR.responseText);
                            }
                        }
                    });
                }
        };
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .repImgDiv{
            margin-right:15px;
            margin-left:15px;
            height:auto;
        }
        .repImg{
            height:100px;
            width:100px;
        }
        .card{
            width:750px;
            height:100%;
            padding:30px;
            margin-bottom:20px;
        }
        .fs18{
            font-size:18px
        }
        .fs24{
            font-size:24px
        }
    </style>
</th:block>

<div layout:fragment="content" class="container">
    <div class="d-flex flex-column align-items-center">
        <div class="card d-flex">
            <h2 class="mb-5 fw-bold">
                예약 내역
            </h2>
            <div th:each="reserv : ${reservDtoList}" class="d-flex mb-3">
                <!--            <div class="repImgDiv">-->
                <!--                <img th:src="${lodging.imgUrl}"-->
                <!--                     class="rounded repImg"-->
                <!--                     th:alt="${lodging.name}">-->
                <!--            </div>-->
                <div class="align-self-center w-75">
                    <p th:text="${reserv.reservationStatus}">방 상태</p>
                    <p th:text="${reserv.room.lodging.name}" class="fs24 font-weight-bold">숙소이름</p>
                    <p th:text="${reserv.room.name}">방 이름</p>
                    <p th:utext="${reserv.room.detail}">방 디테일</p>
                    <p th:text="'체크인 - '+${reserv.checkIn}+' '+${reserv.room.checkInTime}">방 체크인</p>
                    <p th:text="'체크아웃 - '+${reserv.checkOut}+' '+${reserv.room.checkOutTime}">방 체크아웃</p>
                    <!--                    <span th:text="${reserv.room.}">방 인원</span>-->
                    <div class="ml-3">
                        <th:block
                                th:if="${reserv.reservationStatus == T(com.example.member.constant.ReservationStatus).RESERVED}">
                            <button type="button" class="btn btn-outline-secondary" th:value="${reserv.id}"
                                    onclick="cancelReserv(this.value)">예약취소
                            </button>
                        </th:block>
                        <th:block
                                th:unless="${reserv.reservationStatus == T(com.example.member.constant.ReservationStatus).RESERVED}">
                            <h4>(취소 완료)</h4>
                        </th:block>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <!-- 페이지네이션 영역 -->
        <div th:with="start=${(reservDtoList.number/maxPage)*maxPage + 1}, end=(${(reservDtoList.totalPages == 0) ? 1 : (start + (maxPage - 1) < reservDtoList.totalPages ? start + (maxPage - 1) : reservDtoList.totalPages)})">
            <ul class="pagination justify-content-center mt-3">

                <li class="page-item" th:classappend="${reservDtoList.number eq 0}?'disabled':''">
                    <a th:href="@{'/reserv/reservs/' + ${reservDtoList.number-1}}" aria-label='Previous'
                       class="page-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${reservDtoList.number eq page-1}?'active':''">
                    <a th:href="@{'/reserv/reservs/' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item"
                    th:classappend="${reservDtoList.number+1 ge reservDtoList.totalPages}?'disabled':''">
                    <a th:href="@{'/reserv/reservs/' + ${reservDtoList.number+1}}" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

</html>