<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {

          // var key = getCookie("idChk");
          var key = $.cookie('idChk');

          if (key != "") {
            $("#email").val(key);
          }

          if ($("#email").val() != "") {
            $("#idSaveCheck").attr("checked", true);
          }

          $("#idSaveCheck").change(function () {
            if ($("#idSaveCheck").is(":checked")) {
              // setCookie("idChk", $("#email").val(), 7);
              $.cookie('idChk', $("#email").val(), { expires: 7 });
            } else {
              // deleteCookie("idChk");
              $.removeCookie('idChk');
            }
          });

          $("#email").keyup(function () {
            if ($("#idSaveCheck").is(":checked")) {
              // setCookie("idChk", $("#email").val(), 7);
              $.cookie('idChk', $("#email").val(), { expires: 7 });
            }
          });

        });
    </script>
</th:block>

<div layout:fragment="content">

        <div class="container d-flex flex-column align-items-center justify-content-center border rounded-4 shadow-lg"
             style="max-width: 450px; height: 550px;">
            <form action="/members/login" method="post" role="form" class="px-4 py-3" style="width:300px;">

                <div class="form-group mb-3">
                    <label th:for="email" class="form-label">이메일주소</label>
                    <input type="email" name="email" id="email" class="form-control border-0 border-bottom rounded-0"
                           placeholder="email@example.com" autocomplete="off">
                </div>

                <div class="form-group mb-3">
                    <label th:for="password" class="form-label">비밀번호</label>
                    <input type="password" name="password" id="password"
                           class="form-control border-0 border-bottom rounded-0"
                           placeholder="Password" autocomplete="off">
                </div>

                <div class="form-group mb-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="idSaveCheck">
                        <label class="form-check-label" for="idSaveCheck" style="font-size: 12px;">
                            로그인 정보 기억하기
                        </label>
                    </div>
                </div>

                <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>

                <button type="submit" class="btn btn-primary" style="width: 250px;">로그인</button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            </form>
            <div class="d-flex justify-content-evenly" style="width:200px;">
                <div class="btn-group col" role="group" aria-label="Third group">
                    <a href="/oauth2/authorization/google">
                        <img src="/img/google_login_btn2.png" class="oa_btn_img" alt="구글 로그인" style="width:50px">
                    </a>
                </div>
                <div class="btn-group col" role="group" aria-label="Third group">
                    <a href="/oauth2/authorization/kakao">
                        <img src="/img/k_login.png" alt="카카오 로그인" style="width:50px"/>
                    </a>
                </div>
                <div class="btn-group col" role="group" aria-label="Third group">
                    <a href="/oauth2/authorization/naver">
                        <img src="/img/naver_login.png" alt="네이버 로그인" style="width:50px"/>
                    </a>
                </div>
            </div>
            <div class="ms-2 mt-5">
                <p style="font-size:12px;">계정이 없으신가요?</p>
                <a class="link-underline-secondary" href="/members/join">이메일로 회원가입</a>
            </div>
    </div>

</div>